body {
  padding: 0;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
}

.user--data {
  width: 100%;
  background: #ccc;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.person {
  width: 20%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}
.person__img {
  width: 100%;
  border-radius: 50%;
}

.person__fullname {
  padding: 20px 0;
  height: 65px;
}
.person__fullname span {
  font-size: 24px;
  font-weight: 700;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.person--btn {
  width: 100%;
  vertical-align: baseline;
}
.person--btn button {
  width: 100%;
  background: #ffa500;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

@media (min-width: 43.75em) and (max-width: 63.94em) {
  .user--data {
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }
  .person {
    width: 27%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
  }
}
@media (min-width: 28em) and (max-width: 43.7em) {
  .user--data {
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }
  .person {
    width: 40%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
  }
}
@media (min-width: 20em) and (max-width: 27.5em) {
  .user--data {
    width: 100%;
    background: #ccc;
    height: 100%;
    float: left;
  }
  .person {
    width: 80%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
}
